#about {
  min-height: 350px;
  background: linear-gradient(rgba(58, 58, 58, 0.5), rgba(58, 58, 58, 0.5)), url("../../assets/img/job-g848a3cff5_1920.jpg");
  background-position: center;
  background-size: cover;
}

#dateandtime .title {
  font-size: 20px;
}

@media (min-width: 576px) {
  #dateandtime .title {
    font-size: 25px;
  }
}
.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

.owl-carousel .caption {
  text-align: center;
}

.onhRet {
  filter: grayscale(100%);
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.onhRet:hover {
  filter: none;
  transition-timing-function: ease-in-out;
  transition-duration: 0.7s;
  cursor: pointer;
}

.register-btn {
  padding: 10px 35px;
}

#social-media .btn {
  border-radius: 0;
  border: 1px #000 solid;
  margin-right: 5px;
}

#social-media .btn:hover {
  border-color: white;
  color: white;
}